/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
	background-color: yellow;
}
nav {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid grey;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	
}
nav li a {
	border-right: 1px solid grey;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8ecdcc;
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

/*=============================
	1.Home
===============================*/
#home{
	background: url(../images/cityscape.jpg)fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 450px;
}
/*coder's name*/
h1.name {
    font-family: 'Heebo', sans-serif;
    color: #e4e1df;
    font-size: 32px;
}

h3.motto {
    font-family: 'Open Sans Condensed', sans-serif;
    color: aqua;
    font-size: 20px;
}
/*coders picture-center vertical*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
}

/*=============================
	2.About
===============================*/

#about{
	height:0 auto;
}

h1.intro {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 2.5em;
    color: #929090;
    font-family: 'Poppins', sans-serif;
}

p.text {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 40px;
}

h3.phrase {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: aqua;
   
}

/*=============================
	3.section divider1
===============================*/

.section-divider1{
	background: url(../images/tree.jpg)fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}

h1.inspiration {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #f6f67e;
    padding-top: 103px;
}

h5.quote {
    font-family: sans-serif;
    color: #dcdbdb;
}

/*================================
4. List of Master Skill
=================================*/
.skills{
	background-color: #a2a2a2;
}

h1.skills {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #f6f67e;
    padding-top: 30px;
}
h2.skill1 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}

h2.skill2 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}

h2.skill3 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}

h2.skill4 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}

h2.skill5 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}

h2.skill6 {
    font-family: 'Oswald', sans-serif;
    color: beige;
    padding-bottom: 40px;
}
/*================================
5. image overlay
=================================*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content .content-overlay2 {
  border: 2px solid rgba(255,255,255,0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay, .content:hover .content-overlay2{
  opacity: 1;
}

.content:hover .content-overlay2{
  height: 90%;
  width: 94%;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-details{
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.content-details p{
  color: #fff;
  font-size: 0.60em;
  font-family: 'Raleway', sans-serif;
}
.col-md-3.col-sm-6.col-xs-12 {
    padding-right: 0;
    padding-left: 0;
}
/*================================
6. Your preffered coding advisor
=================================*/

h1.header {
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 2.5em;
    color: #929090;
}

/*================================
7. Design Philosophy
=================================*/
.divider2{
	background: url(../images/birds2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	margin-top: 80px;
}
.tools i {
	font-size: 30px;
	color: #1c83c3;
}

.divider3{
	background: url(../images/bell.png)fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}
/*==================================
8.Tools
/*==================================*/
h1.tools {
    margin-top: 0px;
    font-size: 2.5em;
    color: #929090;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 32px;
    border-bottom: 1px solid #5bc0de;
}

section.tools {
    width: 100%;
    padding-bottom: 27px;
    padding-top: 67px;

}

h3.star{
    font-family: 'Oswald', sans-serif;
    color: grey;
    padding-bottom: 40px;
}

/*==================================
9.Customer's service
/*==================================*/
h1.service {
    margin-top: 130px;
    font-size: 2.5em;
    color: #f6f67e;
    font-family: 'Poppins', sans-serif;
}



  

